<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= @user %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<p>このページはログインしてないと見られないよ！</p>
<br>
<p>嘘だと思うならいっかいログアウトしてからもう一度https://binchotan.herokuapp.com/にアクセスしてみよう！ログイン画面に自動で飛ばされるはずだよ</p>
